{
	on_demand_tls {
		interval 1h
		burst 10
	}
}

(common) {
	tls "dvdkon@konarici.cz"
	# TODO: Doesn't work on proxied content?
	encode zstd gzip

	handle_errors {
		rewrite * /errpage.html
		root * /etc/caddy
		file_server
		templates
	}
}

(access-log) {
	log {
		output file /data/access_logs/{args.0}.access
		format filter {
			wrap json
			fields {
				common_log delete
				user_id delete
				resp_headers delete
				request>headers delete
				request>tls delete
				request>remote_ip ip_mask {
					ipv4 24
					ipv6 32
				}
			}
		}
	}
}

ggu.cz, home.ggu.cz {
	import common
	reverse_proxy user-httpd:12000
	import access-log ggu-homepage
}

www.ggu.cz {
	redir https://ggu.cz{uri} 308
}

wiki.ggu.cz {
	import common
	reverse_proxy moinmoin:80
}

rt.jrutil.konarici.cz, rt.jr.ggu.cz {
	import common
	reverse_proxy jrutil-rt:5000

	@static_files {
		path *.css
		path *.js
	}
	# Sadly we need to revalidate every time, because any JS-server desync
	# will break WebSharper RPC
	header @static_files Cache-Control public,max-age=0,must-revalidate

	import access-log jrutil-rt
}

api.otp.jr.ggu.cz {
	import common
	reverse_proxy jr-otp:8080

	import access-log jr-otp
}

ns.jr.ggu.cz {
	import common
	reverse_proxy jr-najdispoj

	import access-log jr-najdispoj
}

georeport.jr.ggu.cz {
	import common
	reverse_proxy jr-georeport

	import access-log jr-georeport
}

data.jr.ggu.cz {
	import common
	reverse_proxy jr-cisjrproc
	import access-log jr-data
}

motis.jr.ggu.cz {
	import common
	reverse_proxy jr-motis:8080
	import access-log jr-motis
}

sidss.ggu.cz {
	import common
	reverse_proxy sidss:80
}

mealie.ggu.cz {
	import common
	reverse_proxy mealie:80
}

jellyfin.ggu.cz {
	import common
	reverse_proxy jellyfin:8096
}

cups.ggu.cz, https://cups.ggu.cz:631 {
	import common
	reverse_proxy cups:631
}

hedgedoc.ggu.cz, docs.lyricall.cz {
	import common
	reverse_proxy hedgedoc:3000
	import access-log hedgedoc
}

grafana.ggu.cz {
	import common
	reverse_proxy grafana:3000
}

nextcloud.ggu.cz {
	import common
	reverse_proxy nextcloud
}

menzostat.ggu.cz {
	import common
	import access-log menzostat
	reverse_proxy menzostat
}

*.gcwa.ggu.cz {
	import common
	reverse_proxy goatcounter:80

	tls {
		on_demand
	}
}

breviar-ics.ggu.cz {
	import common
	reverse_proxy breviar-ics:80
	import access-log breviar-ics
}


metalympiada.ggu.cz {
	import common
	reverse_proxy u-jan-personal:8011
}

tom.ggu.cz {
	import common
	reverse_proxy user-httpd:12003
}

adam.ggu.cz {
	import common
	reverse_proxy user-httpd:12013
}

blackblog.cz {
	import common
	reverse_proxy user-httpd:12001
	import access-log blackblog
}

www.blackblog.cz {
    redir https://blackblog.cz{uri} 308
}

jc.ggu.cz {
	import common
	reverse_proxy user-httpd:12001
	import access-log jc-ggu
}


veva-art.cz {
	import common
	reverse_proxy user-httpd:12001
	import access-log veva-art
}


www.veva-art.cz {
	redir https://veva-art.cz{uri} 308
}

kapelarenegat.cz {
	import common
	reverse_proxy user-httpd:12001
	import access-log kapelarenegat
}

www.kapelarenegat.cz {
	redir https://kapelarenegat.cz{uri} 308
}

zbrojak.ggu.cz {
	import common
	reverse_proxy user-httpd:12001
	import access-log zbrojak-ggu
}

matfyz-gamebook.ggu.cz {
	import common
	reverse_proxy user-httpd:12001
	import access-log matfyz-gamebook
}

lyricall.cz {
	import common
	reverse_proxy user-httpd:12001
	import access-log lyricall
}

www.lyricall.cz {
	redir https://lyricall.cz{uri} 308
}

qbittorrent.jc.ggu.cz {
	import common
	reverse_proxy user-qbittorrent:12001
	basicauth {
		jan {{ lookup("ini", "qbittorrent.jc.ggu.cz file=secrets/passwords.ini section=caddy-rp") }}
	}
}

qbittorrent.randomtom.ggu.cz {
	import common
	reverse_proxy user-qbittorrent:12007
	basicauth {
		RandomTom {{ lookup("ini", "qbittorrent.randomtom.ggu.cz file=secrets/passwords.ini section=caddy-rp") }}
	}
}

qbittorrent.dvdkon.ggu.cz {
	import common
	reverse_proxy user-qbittorrent:12000
	basicauth {
		dvdkon "{{ lookup("ini", "qbittorrent.dvdkon.ggu.cz file=secrets/passwords.ini section=caddy-rp") }}"
	}
}

kavita.ggu.cz {
	import common
	reverse_proxy kavita:12001
}

vshled.ggu.cz {
	import common
	reverse_proxy user-httpd:12000
	import access-log vshled
}

dvdkon.ggu.cz {
	import common
	reverse_proxy user-httpd:12000
	import access-log dvdkon-ggu
}

mapakdn.ggu.cz {
	import common
	reverse_proxy user-httpd:12000
	import access-log mapakdn
}

proti.ggu.cz {
	import common
	reverse_proxy user-httpd:12000
	import access-log proti
}

dadof.konarici.cz {
	redir https://dadof.ggu.cz{uri}
}

dadof.ggu.cz {
	import common
	import access-log dadof

	@spammers {
		method POST
		remote_ip 103.106.0.0/16
		remote_ip 103.111.0.0/16
		remote_ip 103.126.0.0/16
		remote_ip 103.143.0.0/16
		remote_ip 103.145.0.0/16
		remote_ip 103.166.0.0/16
		remote_ip 103.55.0.0/16
		remote_ip 103.70.0.0/16
		remote_ip 106.215.0.0/16
		remote_ip 115.97.0.0/16
		remote_ip 116.73.0.0/16
		remote_ip 116.74.0.0/16
		remote_ip 116.75.0.0/16
		remote_ip 122.177.0.0/16
		remote_ip 125.99.0.0/16
		remote_ip 27.4.0.0/16
		remote_ip 27.6.0.0/16
		remote_ip 27.7.0.0/16
		remote_ip 60.254.0.0/16
	}
	respond @spammers 200

	reverse_proxy flarum-dadof
}

openproject.snkhome.ggu.cz {
	import common
	reverse_proxy u-dvdkon-personal:80
}

metalympiada.org, metalympiada.matfyz.cz {
	import common
	reverse_proxy u-maros-personal:8011
	import access-log metalympiada
}

petice.ggu.cz {
	import common
	reverse_proxy u-maros-personal:8001
	import access-log petice
}

www.metalympiada.org {
	redir https://metalympiada.org{uri} 308
}

sidss.local.ggu.cz { }

hl.ggu.cz {
	import common
	reverse_proxy u-jan-jswiki:8000
}

glitter.ggu.cz {
	import common
	reverse_proxy glitter:8000
	import access-log glitter
}

goaccess.ggu.cz {
	import common
	root * /srv/analytics 
	file_server
	encode gzip
}

immich.ggu.cz {
	import common
	reverse_proxy immich:10000
}

gacr.ggu.cz {
	import common
	reverse_proxy gacr-outline:3000
}
