{
	"production": {
		"domain": "hedgedoc.ggu.cz",
		"protocolUseSSL": true,
		"sessionSecret": "{{ lookup('ini', 'secret file=secrets/passwords.ini section=hedgedoc') }}",
		"db": {
			"dialect": "sqlite",
			"storage": "/data/hedgedoc.sqlite3"
		},
		"ldap": {
			"url": "ldaps://{{ ldap_server_domain }}",
			"bindDn": "uid=ldap-svc-hedgedoc,ou=users,{{ ldap_base_dn }}",
			"bindCredentials": "{{ lookup('ini', 'hedgedoc file=secrets/passwords.ini section=ldap_sw') }}",
			"searchBase": "{{ ldap_base_dn }}",
			{% raw %}
			"searchFilter": "(&(uid={{username}})(permissions=hedgedoc))",
			{% endraw %}
			"usernameField": "uid",
			"useridField": "uid"
		}
	}
}
