import os
from moin.config.default import DefaultConfig, _default_password_checker
from moin.storage import create_simple_mapping
from moin.utils.interwiki import InterWikiMap
from moin.auth.ldap_login import LDAPAuth

# See MoinMoin 2 docs (https://moin-20.readthedocs.io/) or default
# wikiconfig.py for documentation

class Config(DefaultConfig):
    wikiconfig_dir = os.path.abspath(os.path.dirname(__file__))
    instance_dir = os.path.join(wikiconfig_dir, 'wiki')
    data_dir = os.path.join(instance_dir, 'data')
    index_storage = 'FileStorage', (os.path.join(instance_dir, "index"), ), {}

    # setup static files' serving:
    serve_files = dict(
        wiki_local=os.path.join(wikiconfig_dir, "wiki_local"),  # store custom logos, CSS, templates, etc. here
    )
    docs = os.path.join(wikiconfig_dir, "docs", "_build", "html")
    if os.path.isdir(docs):
        serve_files["docs"] = docs
    else:
        # change target if a specific release or language is available
        serve_files["external_docs"] = "https://moin-20.readthedocs.io/en/latest/"

    # copy templates/snippets.html to directory below and edit per requirements to customize logos, etc.
    template_dirs = [os.path.join(wikiconfig_dir, "wiki_local"), ]

    # it is required that you set this to a unique, stable and non-empty name:
    interwikiname = "ggu-bytwiki"
    # load the interwiki map from intermap.txt:
    interwiki_map = InterWikiMap.from_file(os.path.join(wikiconfig_dir, "intermap.txt")).iwmap
    # we must add entries for "Self" and our interwikiname,
    # if you are not running the built-in desktop server change these to your wiki URL
    interwiki_map[interwikiname] = "https://wiki.ggu.cz"
    interwiki_map["Self"] = interwiki_map[interwikiname]

    # sitename is displayed in heading of all wiki pages
    sitename = "GGU Bytová wiki"

    # default theme is topside
    theme_default = "ggu"

    admin_emails = []
    email_tracebacks = False

    registration_only_by_superuser = True
    registration_hint = u'Accounts are handled by <a href="https://sidss.ggu.cz">SIDSS</a>'

    # add or remove packages - see https://bitbucket.org/thomaswaldmann/xstatic for info about xstatic
    # it is uncommon to change these because of local customizations
    from xstatic.main import XStatic
    # names below must be package names
    mod_names = [
        "jquery", "jquery_file_upload",
        "bootstrap",
        "font_awesome",
        "ckeditor",
        "autosize",
        "svgedit_moin", "twikidraw_moin", "anywikidraw",
        "jquery_tablesorter",
        "pygments",
    ]
    pkg = __import__("xstatic.pkg", fromlist=mod_names)
    for mod_name in mod_names:
        mod = getattr(pkg, mod_name)
        xs = XStatic(mod, root_url="/static", provider="local", protocol="http")
        serve_files[xs.name] = xs.base_dir

    acl_functions = u"+dvdkon:superuser"

    namespace_mapping, backend_mapping, acl_mapping = create_simple_mapping(
        uri="stores:fs:{0}/%(backend)s/%(kind)s".format(data_dir),
        default_acl=dict(before="SuperUser:read,write,create,destroy,admin",
                         default="Known:read,write,create,destroy",
                         after="",
                         hierarchic=False, ),
        users_acl=dict(before="",
                       # TODO: Too permissive?
                       default="Known:read,write,create,destroy",
                       after="",
                       hierarchic=False, ),
        userprofiles_acl=dict(before="All:",
                              default="",
                              after="",
                              hierarchic=False, ),
    )

    secrets = {
        "security/ticket": "{{ lookup('ini', 'ticket_key file=secrets/passwords.ini section=moinmoin') }}",
    }

    auth = [
        LDAPAuth(
            server_uri="ldaps://sidss.local.ggu.cz",
            name="ggu-sidss",
            bind_dn="uid=%(username)s,ou=users,dc=ggu,dc=cz",
            bind_pw="%(password)s",
            base_dn="dc=ggu,dc=cz",
            scope=2, # subtree
            search_filter="(uid=%(username)s)",
            autocreate=True,
        )
    ]


MOINCFG = Config  # adding MOINCFG=<path> to OS environment overrides CWD
# Flask settings - see the flask documentation about their meaning
SECRET_KEY = "{{ lookup('ini', 'flask_key file=secrets/passwords.ini section=moinmoin') }}"
DEBUG = False  # use True for development only, not for public sites!
TESTING = False  # built-in server (./m run) ignores TESTING and DEBUG settings
# per https://flask.palletsprojects.com/en/1.1.x/security/#set-cookie-options
SESSION_COOKIE_SECURE = True
SESSION_COOKIE_HTTPONLY = True
SESSION_COOKIE_SAMESITE = "Lax"
