PRODUCTION=True
API_PORT=9000
DB_ENGINE=sqlite
BASE_URL=https://mealie.ggu.cz/
LDAP_AUTH_ENABLED=True
LDAP_SERVER_URL=ldap://sidss
LDAP_BASE_DN=ou=users,dc=ggu,dc=cz
LDAP_QUERY_BIND=uid=ldap-svc-mealie,ou=users,dc=ggu,dc=cz
LDAP_QUERY_PASSWORD={{ lookup('ini', 'mealie file=secrets/passwords.ini section=ldap_sw') }}
LDAP_USER_FILTER='(&(uid={input})(objectClass=posixAccount)(permissions=mealie))'
LDAP_ADMIN_FILTER='(permissions=mealie.admin)' 
LDAP_ID_ATTRIBUTE=uid
LDAP_NAME_ATTRIBUTE=cn
# TODO: Make email optional on Mealie side
LDAP_MAIL_ATTRIBUTE=uid
