# TODO: Any better way to say "for this machine"?
# XXX: This has to be kept up to date manually
define mainserver_ips = {
        127.0.0.0/8, 192.168.8.100, 10.80.0.1, 78.44.160.118
}
define lan_iface = enp5s0

flush ruleset

table inet filter {
        chain input {
                type filter hook input priority 0
        }
        chain forward {
                type filter hook forward priority 0
        }
        chain output {
                type filter hook output priority 0
        }
}

table ip nat {
        chain prerouting {
                type nat hook prerouting priority 0;

		ip daddr $mainserver_ips tcp dport {http, https, ipp} \
			dnat to {{ hostvars["caddy-rp"].ip }} comment "HTTP(S) & IPP"
		ip daddr $mainserver_ips tcp dport 222 \
			dnat to {{ hostvars["sftp"].ip }}:22 comment "SFTP"
		ip daddr $mainserver_ips tcp dport 322 \
			dnat to {{ hostvars["ssh-tunnel"].ip }}:22 comment "SSH just for tunneling"
		ip daddr $mainserver_ips tcp dport { 40000-49999 } \
			dnat to {{ hostvars["ssh-tunnel"].ip }} comment "Tunneled ports"
		ip daddr $mainserver_ips \
			tcp dport {smtp, submissions, imaps, sieve} \
			dnat to {{ hostvars["email"].ip }} comment "email"
		ip daddr $mainserver_ips tcp dport 25565 \
			dnat to {{ hostvars["matfyz-minecraft"].ip }}:25565
		ip daddr $mainserver_ips tcp dport { 18080-18089, 37889, 37888, 3333 } \
			dnat to {{ hostvars["xmr-node"].ip }}
		ip daddr $mainserver_ips tcp dport { 17050-18050 } \
			dnat to {{ hostvars["user-qbittorrent"].ip }}

		ip daddr $mainserver_ips tcp dport 50000-50009 \
			dnat to {{ hostvars["u-tom-personal"].ip }} \
			comment "Tom's personal container (TCP)"
		ip daddr $mainserver_ips udp dport 50000-50009 \
			dnat to {{ hostvars["u-tom-personal"].ip }} \
			comment "Tom's personal container (UDP)"
		ip daddr $mainserver_ips tcp dport 50010-50019 \
			dnat to {{ hostvars["u-jan-personal"].ip }} \
			comment "Jan's personal container"
		ip daddr $mainserver_ips tcp dport 50020-50029 \
			dnat to {{ hostvars["u-dvdkon-personal"].ip }} \
			comment "David's personal container"
		ip daddr $mainserver_ips tcp dport { 50030-50039, 9418 } \
			dnat to {{ hostvars["u-maros-personal"].ip }} \
			comment "Maroš's personal container"
        }

        chain postrouting {
                type nat hook postrouting priority 100;

                ip saddr 10.80.0.0/24 ip daddr != 10.80.0.0/24 masquerade \
                        comment "LXD networking (lxdbr0)"
        }
}

include "/etc/nftables.d"
