$ORIGIN {{ local_domain }}.
$TTL 3600

{{ local_domain }}. IN SOA ns1.{{ local_domain }}. admin.{{ local_domain }}. (
        {{ ansible_date_time.epoch }}
        10800
        3600
        604800
        300 )


        IN NS ns1.{{ local_domain }}.
ns1 IN CNAME dnsd

{% for hostname in groups[host_group] %}
{{ hostname }} IN A {{ hostvars[hostname].ip }}
{% endfor %}
