$ORIGIN {{ local_subnet_zone }}.in-addr.arpa.
$TTL 3600

@ IN SOA ns1.{{ local_domain }}. admin.{{ local_domain }}. (
        {{ ansible_date_time.epoch }}
        10800
        3600
        604800
        300 )

        IN NS ns1.{{ local_domain }}.

{% for hostname in groups[host_group] %}
{{ hostvars[hostname].ip | regex_replace("10\\.1\\.([0-9]{1,3})\\.([0-9]{1,3})", '\\2.\\1') }} IN PTR {{ hostname }}.{{ local_domain }}.
{% endfor %}
