server:
        ip-address: 127.0.0.1
        port: 10053
        identity: "Internal DNS"
        zonesdir: /etc/nsd/zones

zone:
        name: {{ local_domain }}.
        zonefile: {{ local_domain }}.zone

zone:
        name: {{ local_subnet_zone }}.in-addr.arpa.
        zonefile: {{ local_subnet_zone }}.in-addr.arpa.zone
