server:
        verbosity: 1

        # Listen on every interface but only allow queries from local networks
        interface: 0.0.0.0
        port: 53
        access-control: 0.0.0.0/0 refuse
        access-control: ::0/0 refuse
        access-control: {{ local_subnet }} allow

        do-not-query-localhost: no

        # Only allow subdomains of {{ local_domain }} to resolve to
        # private addresses
        private-address: 10.0.0.0/8
        private-address: 172.16.0.0/12
        private-address: 192.168.0.0/16
        private-address: 169.254.0.0/16
        private-address: fd00::/8
        private-address: fe80::/10
        private-address: ::ffff:0:0/96
        private-domain: "{{ local_domain }}."
        private-domain: "{{ local_subnet_zone }}.in-addr.arpa."
        # Ignore DNSSEC for local DNS server
        domain-insecure: "{{ local_domain }}."
        domain-insecure: "{{ local_subnet_zone }}.in-addr.arpa."
        local-zone: "{{ local_domain }}." nodefault
        local-zone: "{{ local_subnet_zone }}.in-addr.arpa." transparent

        qname-minimisation: yes
        rrset-roundrobin: yes
        minimal-responses: yes
        use-caps-for-id: yes

stub-zone:
        name: "{{ local_domain }}."
        stub-addr: 127.0.0.1@10053

stub-zone:
        name: "{{ local_subnet_zone }}.in-addr.arpa."
        stub-addr: 127.0.0.1@10053

forward-zone:
        name: "."
        forward-addr: 1.1.1.1
        forward-addr: 8.8.8.8
        forward-addr: 8.8.4.4

